.box {
  position: relative;
  margin-bottom: 1.5rem;
  border: 0;
  border-radius: $border-radius;
  box-shadow: 0 0 2px rgba(0,0,0,.15);

  &.box-transparent {
    box-shadow: none;
  }

  .box-dark {
    background-color: rgba(0,0,0,.03);
  }
}

// put color in .box-default, so .bg-xxx can overrides box color easily
.box-default {
  background-color: $card-bg;
}

.box-header,
.box-heading {
  padding: $card-spacer-y $card-spacer-x;
  border-bottom: 1px solid transparent;
  border-radius: ($border-radius - 1) ($border-radius - 1) 0 0;
  font-weight: $headings-font-weight;
  // text-transform: uppercase;
}

.border-top {
  border-top: 1px solid #000;
  margin-top: 10px;
}

.box-toolbar {
  position: absolute;
  top: $card-spacer-x;
  right: $card-spacer-x;

  a {
    color: $text-muted;

    .material-icons {
      font-size: $font-size-base;
    }
  }
}

.box-divider {
  height: 1px;
  background: rgba(0,0,0,0.08);
  margin: 0 $card-spacer-x;
}

.box-body {
  padding: $card-spacer-x;
  @include clearfix;

  &.padding-lg {
    padding: 30px 15px;
  }
  &.padding-xl {
    padding: 60px 15px;
  }
  &.padding-lg-h {
    padding: 15px 30px;
  }
  &.padding-lg-v {
    padding: 30px 15px;
  }
}

.pointer {
  cursor: pointer;
}

.mat-input-container {
  top: -8px;
}
td .mat-input-container {
  top: 4px;
}

.wh-24{
  height: 24px !important;
  width: 24px !important;
}

.mb-2{
  margin-bottom: 15px !important;
}

td.w-40,
th.w-40 {
  max-width: 51px !important;
  width: 51px !important;
  padding: 12px 18px;
}
td.w-108,
th.w-108 {
  max-width: 108px !important;
  width: 108px !important;
}
.mdl-data-table {
  td.w-40 {
    text-align: center;
    padding: 5px; 
    .material-icons {
      font-size: 18px;
    }
  }
}


tr.active {
  border: 3px solid #bebebe;
}

.noAuto {
  width: 1px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90px;
  text-overflow: ellipsis;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.margin-10 {
  padding: 10px !important;
}
.max-w-100 {
  max-width: 100px;
}
.btn-default {
  background: rgba(0,0,0,.15);
}
.alert-secondary{
  background: rgba(0,0,0,.15);
  border-radius: 4px;
}
.mat-dialog-title{
  padding: 0 15px;
}
.mat-dialog-actions button {
  margin-left: 10px;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.height-30 {
  min-height: 30px;
}

.mat-slide-toggle-content {
  /*min-width: 80px;*/
}

td .mat-slide-toggle-content {
  min-width: 0px;
}


.flex-spacer {
  flex: 1 1 auto;
}


.max-width-700 {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.mark {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}


// Theme
// --------------------------------------------------
.theme-gray {
  .box-default {
    background-color: $theme_gray_box_bg;
  }
}
.theme-dark {
  .box-default {
    background-color: $theme_dark_box_bg;
  }
}


