<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Ajustes de Inventario</h1>
        </div>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <inventory-audit-action-cmp *ngIf="isOpenActions"  [numId]="id" [strAction]="strAction"></inventory-audit-action-cmp>
                    <inventory-audit-list-cmp *ngIf="isOpenList"></inventory-audit-list-cmp>
                </div>
            </div>
        </div>
    </article>
</section>