<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Mipres</h1>
        </div>
        <p class="hero-tagline">Demo</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">

                    <div class="box box-default table-box table-responsive mdl-shadow--2dp">

                        <table class="mdl-data-table table-bordered table-striped cf no-margin">
                            <thead>
                                <tr>
                                    <th>IDFacturacion</th>
                                    <th>Estado Entrega</th>
                                    <th>No Prescripcion</th>
                                    <th>Tipo Tec</th>
                                    <th>Con Tec</th>
                                    <th>Tipo ID Paciente</th>
                                    <th>No ID Paciente</th>
                                    <th>No Entrega</th>
                                    <th>No ID EPS</th>
                                    <th>Cod EPS</th>
                                    <th>Cod Ser Tec A Entregado</th>
                                    <th>Cant Un Min Dis</th>
                                    <th>Valor Unit Facturado</th>
                                    <th>Valor Tot Facturado</th>
                                    <th>Cuota Moder</th>
                                    <th>Copago</th>
                                    <th>Fec Anula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of json">
                                    <td>{{ randon() }}</td>
                                    <td>ActivoD</td>
                                    <td>{{ randon() }}</td>
                                    <td>M</td>
                                    <td>1</td>
                                    <td>CC</td>
                                    <td>{{ randon() }}</td>
                                    <td>{{ item.factura }}</td>
                                    <td>{{ randon() }}</td>
                                    <td>4</td>
                                    <td>234234</td>
                                    <td>{{ item.cantidad }}</td>
                                    <td>{{ item.unitario }}</td>
                                    <td>{{ item.total }}</td>
                                    <td>0.000</td>
                                    <td>0.000</td>
                                    <td>{{ item.fecha }}</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </article>
</section>















<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Medicamentos</h1>
        </div>
        <p class="hero-tagline">A través de esta opción, usted podrá crear los medicamentos de las cuales son necesarias para...</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <pharmaceutical-drug-action-cmp *ngIf="isOpenActions" [numId]="id" [strAction]="strAction"></pharmaceutical-drug-action-cmp>
                    <pharmaceutical-drug-list-cmp *ngIf="isOpenList"></pharmaceutical-drug-list-cmp>
                </div>
            </div>
        </div>
    </article>
</section>