<!-- Trabajar aqui -->


<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Mipres</h1>
        </div>
        <p class="hero-tagline">Demo</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nit</label>
                                <input type="text" class="form-control" [(ngModel)]="nit">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Token</label>
                                <input type="text" class="form-control" [(ngModel)]="token">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Prescripción</label>
                                <input type="text" class="form-control" [(ngModel)]="prescripcion">
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="form-group">
                                <label>Fecha</label>
                                <input type="date" class="form-control" [(ngModel)]="fecha">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary float-right" (click)="buscar()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>















<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Medicamentos</h1>
        </div>
        <p class="hero-tagline">A través de esta opción, usted podrá crear los medicamentos de las cuales son necesarias para...</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <pharmaceutical-drug-action-cmp *ngIf="isOpenActions" [numId]="id" [strAction]="strAction"></pharmaceutical-drug-action-cmp>
                    <pharmaceutical-drug-list-cmp *ngIf="isOpenList"></pharmaceutical-drug-list-cmp>
                </div>
            </div>
        </div>
    </article>
</section>