<!-- Trabajar aqui -->

<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Medicamentos</h1>
        </div>
        <p class="hero-tagline">A través de esta opción, usted podrá crear los medicamentos de las cuales son necesarias para...</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <pharmaceutical-drug-action-cmp *ngIf="isOpenActions" [numId]="id" [strAction]="strAction"></pharmaceutical-drug-action-cmp>
                    <pharmaceutical-drug-list-cmp *ngIf="isOpenList"></pharmaceutical-drug-list-cmp>
                </div>
            </div>
        </div>
    </article>
</section>