<div class="page-auth">
  <div class="main-body">
    <md-progress-bar *ngIf="btn_text == 'Procesando...'" [color]="'primary'" [mode]="'indeterminate'" [value]="50" [bufferValue]="75"></md-progress-bar>
    <div class="card card-white" style="margin: 0">
      <div class="card-content">
        <div class="logo">
          <a [routerLink]="['/']">Iniciar sesión</a>
        </div>

        <form name="form" class="md-form-auth form-validation" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>
          <fieldset>
            <div class="form-group">
              <md-input-container class="full-width md-icon-left">
                <md-icon class="material-icons">account_box</md-icon>
                <input required mdInput type="text" name="username" placeholder="Usuario" [(ngModel)]="model.username" #username="ngModel">
              </md-input-container>
            </div>
            <div class="form-group">
              <md-input-container class="full-width md-icon-left">
                <md-icon class="material-icons">lock_outline</md-icon>
                <input required mdInput type="password" name="password" placeholder="Contraseña" [(ngModel)]="model.password"  #password="ngModel">
              </md-input-container>
            </div>
            <div *ngIf="error" >{{error}}</div>
            <button md-raised-button type="submit" color="primary" class="float-right">{{btn_text}}</button>
          </fieldset>
        </form>

        <!--div class="additional-info">
          <a [routerLink]="['/extra/sign-up']">Sign up</a>
          <span class="divider-h"></span>
          <a [routerLink]="['/extra/forgot-password']">Forgot your password?</a>
        </div-->

      </div>
    </div>
  </div>
</div>