<form #modelForm="ngForm" autocomplete="off">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 margin-bottom" [class.btn-action-container]="booActive">
                <button type="button" md-raised-button color="primary" (click)="goList()" class="btn-w-md no-margin-left">
                    <md-icon>keyboard_arrow_left</md-icon> Regresar
                </button>
            </div>
            <!-- name -->
            <div class='col-sm-12 col-md-6 margin-bottom'>
                <md-input-container class="full-width">
                    <input required type="text" id="name" name="name" [(ngModel)]="model.name" mdInput placeholder="Nombre">
                </md-input-container>
            </div>
            <!-- instalado -->
            <div class='col-sm-12 col-md-6 col-lg-3 margin-bottom'>
                <div class="flex">
                    <span class="flex-spacer"></span>
                    <md-slide-toggle [labelPosition]="'before'" id="installed" name="installed" [(ngModel)]="model.installed">Instalado</md-slide-toggle>
                </div>

            </div>
            <!-- estado -->
            <div class='col-sm-12 col-md-6 col-lg-3 margin-bottom'>
                <div class="flex">
                    <span class="flex-spacer"></span>
                    <md-slide-toggle [labelPosition]="'before'" id="state" name="state" [(ngModel)]="model.state">Estado</md-slide-toggle>
                </div>
            </div>
            <!-- bodega -->
            <div class="col-sm-12 col-md-6 margin-bottom">
                <md-input-container class="full-width">
                    <input readonly mdInput type="text" placeholder="Bodega" [(ngModel)]="warehouse.name" id="warehouse" name="warehouse" />
                    <md-icon mdSuffix class="wh-24 pointer" (click)="openModalWarehouse()">search</md-icon>
                </md-input-container>
            </div>
            <!-- grupo de punto de dispensacion -->
            <div class="col-sm-12 col-md-6 margin-bottom">
                <md-select class="full-width" placeholder="Grupos de puntos de dispensación" [(ngModel)]="model.delivery_point_group_id"
                    name="delivery_point_group_id" id="delivery_point_group_id">
                    <md-option *ngFor="let item of arrDelivery_point_group" [value]="item.id">{{item.value}}</md-option>
                </md-select>
            </div>
            <!--contratos-->
            <div class="col-sm-12 col-md-6 margin-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="flex" style="margin-bottom: 15px;height: 51px;">
                            <div class="box-header no-padding-h">Contratos</div>
                        </div>
                        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                            <table class="mdl-data-table table-bordered table-striped no-margin">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Evento</th>
                                        <th>Cápita</th>
                                        <th>PGP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of arrDelivery_contracts">
                                        <td>{{item.name}}</td>
                                        <td class="text-center">
                                            <md-icon>{{item.event ? 'check_circle' : ''}}</md-icon>
                                        </td>
                                        <td class="text-center">
                                            <md-icon>{{item.capita ? 'check_circle' : ''}}</md-icon>
                                        </td>
                                        <td class="text-center">
                                            <md-icon>{{item.pgp ? 'check_circle' : ''}}</md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Usuario de regente-->
            <div class="col-sm-12 col-md-6 margin-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="flex margin-bottom">
                            <div class="box-header no-padding-h">Usuario de regente</div>
                            <span class="flex-spacer"></span>
                            <button type="button" md-raised-button color="primary" class="btn-w-md no-margin-left" (click)="openModalUsers()">Añadir</button>
                        </div>
                        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                            <table class="mdl-data-table table-bordered table-striped no-margin">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of model.assigned_users">
                                        <td>{{item.firstname}} {{item.lastname}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--description-->
            <div class='col-sm-12 margin-bottom'>
                <md-input-container class="full-width">
                    <textarea type="text" id="description" name="description" [(ngModel)]="model.description" mdInput placeholder="Descripción"></textarea>
                </md-input-container>
            </div>
            <div class="col-sm-12" [class.btn-action-container]="booActive">
                <button type="button" [disabled]="!modelForm.form.valid" md-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
                    (click)="save()">{{strAction}}</button>
            </div>
        </div>
    </div>
</form>