<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Remisiones</h1>
        </div>
        <p class="hero-tagline">Módulo de Remisiones</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <remission-goods-action-cmp *ngIf="isOpenActions" [numId]="id" [strAction]="strAction"></remission-goods-action-cmp>
                    <remission-goods-list-cmp *ngIf="isOpenList"></remission-goods-list-cmp>
                </div>                 
            </div>
        </div>
    </article>
</section>                        