<h1 md-dialog-title>{{ data.title }}</h1>

<md-dialog-content>
    <form #resolutionForm="ngForm" autocomplete="off">
        <!-- big_contributor -->
        <div class='col-sm-12 margin-bottom'>
            <div class="flex">
                <span class="flex-spacer"></span>
                <md-slide-toggle [labelPosition]="before" id="state" name="state" [(ngModel)]="model.state">Estado</md-slide-toggle>
            </div>
        </div>
        <!-- resolution_number -->
        <div class='col-sm-12 col-md-6 col-lg-4 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="resolution_number" name="resolution_number" [(ngModel)]="model.resolution_number" mdInput
                    placeholder="Número de resolución">
            </md-input-container>
        </div>
        <!-- resolution_number -->
        <div class='col-sm-12 col-md-6 col-lg-4 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="resolution_number" name="resolution_number" [(ngModel)]="model.resolution_number" mdInput
                    placeholder="Número de resolución">
            </md-input-container>
        </div>
        <!-- issue_date -->
        <div class='col-sm-12 col-md-6 col-lg-4 margin-bottom'>
            <md-input-container class="full-width">
                <input mdInput [mdDatepicker]="pickerIssueDate" id="issue_date" name="issue_date" placeholder="Fecha de expedición" [(ngModel)]="model.issue_date">
                <button type="button" mdSuffix [mdDatepickerToggle]="pickerIssueDate"></button>
            </md-input-container>
            <md-datepicker #pickerIssueDate (selectedChanged)="onchange()"></md-datepicker>
        </div>
        <!-- expiration_date -->
        <div class='col-sm-12 col-md-6 col-lg-4 margin-bottom'>
            <md-input-container class="full-width">
                <input mdInput [mdDatepicker]="pickerExpirationDate" id="expiration_date" name="expiration_date" placeholder="Fecha de vencimiento"
                    [(ngModel)]="model.expiration_date" [min]="model.issue_date">
                <button type="button" mdSuffix [mdDatepickerToggle]="pickerExpirationDate"></button>
            </md-input-container>
            <md-datepicker #pickerExpirationDate></md-datepicker>
        </div>
        <!-- shipping_point -->
        <div class='col-sm-12 col-md-6 col-lg-4 margin-bottom'>
            <md-select class="full-width" placeholder="Punto de envío" [(ngModel)]="model.shipping_point" name="shipping_point_id" id="shipping_point_">
                <md-option *ngFor="let item of data.shipping_points" [value]="item">{{item.name}}</md-option>
            </md-select>
        </div>
        <!-- TABLE -->
        <div class="col-sm-12 margin-bottom">
            <div class="flex" style="margin-bottom: 15px;height: 51px;">
                <div class="box-header no-padding-h">Productos asociados</div>
                <span class="flex-spacer"></span>
                <button type="button" md-raised-button color="primary" class="btn-w-md no-margin-left btn-right">Añadir</button>
            </div>
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table table-bordered table-striped cf no-margin">
                    <thead>
                        <tr>
                            <th>Nombre del producto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data.products">
                            <td>{{ item.name }}</td>
                            <td class="text-center" title="Remover empresa">
                                <a style="cursor: pointer;" class="text-danger" (click)="removeSucursal(item)">
                                    <i class="fa fa-trash fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <div class="col-sm-12">
        <div class="flex">
            <span class="flex-spacer"></span>
            <button md-button type="button" [disabled]="action_active ? false : !resolutionForm.form.valid" (click)="add()">Agregar</button>
            <button md-button type="button" md-dialog-close>Cerrar</button>
        </div>
    </div>
</md-dialog-actions>