<section class="app-header">
  <div class="app-header-inner" [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-dark': AppConfig.colorOption === '31',
                 'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">

    <div class="hidden-lg-up float-left">
      <button mat-button myToggleOffcanvasNav class="mat-button header-icon toggle-sidebar-btn">
        <i class="material-icons">menu</i>
      </button>
    </div>


    <div class="brand hidden-md-down">
      <h2>
        <a [routerLink]="['/']">{{AppConfig.brand}}</a>
      </h2>
    </div>

    <div class="top-nav-left hidden-md-down">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <button mat-button class="mat-button header-btn" myOpenSearchOverlay>
            <i class="material-icons">search</i>
          </button>
        </li>
        <li class="list-inline-item" [hidden]="notifications.length == 0">
          <button mat-button class="mat-button header-btn" mat-button [matMenuTriggerFor]="appNotification">
            <i class="material-icons">notifications_none</i>
            <span class="badge">{{notifications.length}}</span>
          </button>
          <mat-menu #appNotification="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
            <mat-nav-list dense>
              <mat-list-item *ngFor='let n of notifications' (click)="updateNotification(n)">
                <mat-icon matSuffix md-list-avatar>mail_outline</mat-icon>
                <h4 md-line>{{n.caption}}</h4>
                <p md-line class="text-muted">{{n.description}}</p>
              </mat-list-item>
            </mat-nav-list>
          </mat-menu>
        </li>
      </ul>
    </div>

    <div class="top-nav-right">
      <ul class="list-unstyled float-right">
        <li>
          <button mat-button class="mat-button header-btn" [matMenuTriggerFor]="appLogout">
            <!--img src="assets/images/g1.jpg" alt="" class="rounded img30_30"-->
            <mat-icon>account_circle</mat-icon>
            <!-- <span style="font-size: 11px;">{{user.firstname}}, </span>   
            <span style="font-size: 9px;">{{user.usercompany.userprofile.up_description}}</span>                   -->
          </button>
          <mat-menu #appLogout="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
            <mat-nav-list dense>
              <a md-list-item>
                <mat-icon matSuffix md-list-icon>perm_identity</mat-icon>
                <h4 md-line>
                  <b>{{user.firstname}}</b> - ({{user.usercompany.userprofile.up_description}})</h4>
              </a>
              <hr>
              <a md-list-item [routerLink]="'/app/my-profile'">
                <mat-icon matSuffix md-list-icon>build</mat-icon>
                <h4 md-line>Mi perfil</h4>
              </a>

              <a md-list-item (click)="logout()">
                <mat-icon matSuffix md-list-icon>power_settings_new</mat-icon>
                <h4 md-line>Salir</h4>
              </a>
            </mat-nav-list>
          </mat-menu>
        </li>
        <!-- <li><button mat-button class="mat-button header-btn hidden-lg-up" myOpenSearchOverlay><i class="material-icons">search</i></button></li> -->
        <!-- <li><button mat-button class="mat-button header-btn"><i class="material-icons">more_vert</i></button></li> -->
      </ul>
    </div>

    <div class="top-nav-right" *ngIf="user.usersprivileges!=null && user.usersprivileges.length > 1">
      <ul class="list-unstyled float-right">
        <li>
          <button mat-button class="mat-button header-btn" [matMenuTriggerFor]="appCompany">

            <span>{{ user.usercompany.company.name }}</span>
            <mat-icon>keyboard_arrow_down</mat-icon>

          </button>
          <mat-menu #appCompany="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
            <mat-nav-list dense>

              <a md-list-item *ngFor="let item of user.usersprivileges" (click)="change_company(item.company)">
                <!--mat-icon md-list-icon>view_array</mat-icon-->
                <h4 md-line>{{ item.company.name }}</h4>
              </a>

            </mat-nav-list>
          </mat-menu>
        </li>
      </ul>
    </div>

  </div>
</section>