<!-- LIST -->
<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar" [(ngModel)]="search" (keydown)="enter($event)">
            <div style="width: 34px" class="input-group-addon">
                <a style="cursor:pointer" (click)="getAll()">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">

            <table class="mdl-data-table table-bordered table-striped cf no-margin">
                <thead>
                    <tr>
                        <th (click)="sort('id')">id
                            <span class="glyphicon sort-icon" *ngIf="key =='pd.name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th (click)="sort('code')">Codigo
                            <span class="glyphicon sort-icon" *ngIf="key =='pd.name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th (click)="sort('value')">Nombre
                            <span class="glyphicon sort-icon" *ngIf="key =='ra.value'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list.data; let index = index" (click)="view(item); numItemSelected = index" [ngClass]="{'active': numItemSelected == index }">
                        <td>{{ item.id }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <ngb-pagination [pageSize]="pageSize" [collectionSize]="paginationSize" [(page)]="advancedPagination" [maxSize]="6" [rotate]="true"
            [ellipses]="false" [boundaryLinks]="true" (pageChange)="getAll()"></ngb-pagination>

    </div>
</div>