<form #modelForm="ngForm" autocomplete="off">

    <!-- code -->
    <div class='col-sm-12 margin-bottom'>
        <mat-form-field class="full-width">
            <input required type="text" id="code" name="code" [(ngModel)]="model.code" matInput placeholder="Codigo">
        </mat-form-field>
    </div>
    <!-- name -->
    <div class='col-sm-12 margin-bottom'>
        <mat-form-field class="full-width">
            <input required type="text" id="name" name="name" [(ngModel)]="model.name" matInput placeholder="Nombre">
        </mat-form-field>
    </div>
    <div class="col-sm-12" [class.btn-action-container]="booActive">
        <button type="button" [disabled]="action_active ? false : !modelForm.form.valid" mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
            (click)="save()">{{str_action}}</button>
    </div>
</form>