<!-- LIST -->
<div class="row">
  <div class="col-md-6">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar" [(ngModel)]="search"
        (keydown)="enter($event)">
      <div style="width: 34px" class="input-group-addon">
        <a style="cursor:pointer" (click)="getAll()">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <button mat-raised-button (click)="CUD('Guardar')" color="primary" class="btn-w-md no-margin-left btn-right">
      <mat-icon>add_circle_outline</mat-icon> Nuevo
    </button>
  </div>
  <div class="col-sm-12">

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">

      <table class="mdl-data-table table-bordered table-striped cf no-margin">
        <thead>
          <tr>
            <th># Auditoria Inv<span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th>Bodega<span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th>Fecha<span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th>Auditor<span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th>Cantidades visibles<span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th>Estado<span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
            <th *ngIf="actions[2].status" class="w-40"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list.data; let index = index">
            <td>{{ index+1 }}</td>
            <td>{{ item.warehouse.name }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.user.firstname }} {{ item.user.lastname }}</td>
            <td>{{ item.blinded_qty ? 'Si' : 'No' }}</td>
            <td>{{ item.status.value }}</td>
            <td *ngIf="actions[2].status" class="w-40">
              <button type="button" mat-icon-button class="text-primary" (click)="CUD('Actualizar',item)">
                <mat-icon>{{ item.audit_state_id > AUDIT.NO_INICIADA ? 'visibility' : 'mode_edit' }}</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <ngb-pagination [pageSize]="pageSize" [collectionSize]="paginationSize" [(page)]="advancedPagination" [maxSize]="maxSize"
      [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getAll()"></ngb-pagination>

  </div>
</div>