<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Existencias</h1>
        </div>
        <p class="hero-tagline"> </p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <stocks-list-cmp *ngIf="isOpenList"></stocks-list-cmp>
                </div>                 
            </div>
        </div>
    </article>
</section>                        