<!-- FORM -->

<form #pharmeceuticalForm="ngForm" autocomplete="off">

    

    <!-- name -->
    <div class='col-sm-12 col-md-6  margin-bottom'>
        <md-input-container class="full-width">
            <input required type="text" id="name" name="name" [(ngModel)]="model.name" mdInput placeholder="Nombre">
        </md-input-container>
    </div>
    <!-- estado -->
    <div class='col-sm-12 col-md-6 margin-bottom'>
        <div class="flex">
            <span class="flex-spacer"></span>
            <md-slide-toggle [labelPosition]="'before'" id="state" name="state" [(ngModel)]="model.state">Estado</md-slide-toggle>
        </div>
    </div>
    <!-- Principio activo -->
    <div class="col-sm-12 margin-bottom">
        <div class="row">
            <div class="col-sm-12">
                <div class="flex margin-bottom">
                    <div class="box-header no-padding-h">Principio activo</div>
                    <span class="flex-spacer"></span>
                    <button type="button" md-raised-button color="primary" class="btn-w-md no-margin-left" (click)="openModalActiveIngredients()">Añadir</button>
                </div>
                <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                    <table class="mdl-data-table table-bordered table-striped no-margin">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Concentración</th>
                                <th>Unidad de medida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of arrActive_ingredients; let index = index">
                                <td>{{item.name}}</td>
                                <td>
                                    <md-input-container class="full-width">
                                        <input type="text" id="concentration{{index}}" name="concentration{{index}}" [(ngModel)]="item.concentration" mdInput>
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-select class="full-width" [(ngModel)]="item.measurement_unit_id" name="measurement_unit_id{{index}}" id="measurement_unit_id{{index}}">
                                        <md-option *ngFor="let item of arrMeasurement_unit" [value]="item.id">{{item.value.trim()}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- dosage_form_id -->
    <div class='col-sm-12 col-md-4 col-lg-3 margin-bottom'>
        <md-select class="full-width" placeholder="Forma Farmacéutica" [(ngModel)]="model.dosage_form_id" name="dosage_form_id" id="dosage_form_id">
            <md-option *ngFor="let i of pharmaceutical_form" [value]="i.id">{{i.value}}</md-option>
        </md-select>
    </div>
    <!-- routes_administration_id -->
    <div class='col-sm-12 col-md-4 col-lg-3 margin-bottom'>
        <md-select class="full-width" placeholder="Vía de administración" [(ngModel)]="model.routes_administration_id" name="routes_administration_id"
            id="routes_administration_id">
            <md-option *ngFor="let i of routes_administration" [value]="i.id">{{i.value}}</md-option>
        </md-select>
    </div>
    <!-- atc -->
    <div class='col-sm-12 col-md-4 col-lg-3 margin-bottom'>
        <md-input-container class="full-width">
            <input required type="text" id="atc" name="atc" [(ngModel)]="model.atc" mdInput placeholder="Código ATC">
        </md-input-container>
    </div>
    <!-- regulated_price -->
    <div class='col-sm-12 col-md-4 col-lg-3 margin-bottom'>
        <md-input-container class="full-width">
            <input required type="text" id="regulated_price" name="regulated_price" [(ngModel)]="model.regulated_price" mdInput placeholder="Precio regulado">
        </md-input-container>
    </div>
    <!-- storage_condition_id -->
    <div class='col-sm-12 col-md-3 margin-bottom'>
        <md-select class="full-width" placeholder="Almacenamiento" [(ngModel)]="model.storage_condition_id" name="storage_condition_id"
            id="storage_condition_id">
            <md-option *ngFor="let i of storage_condition" [value]="i.id">{{i.value}}</md-option>
        </md-select>
    </div>
    <!-- is_controlled -->
    <div class='col-sm-12 col-md-3 margin-bottom'>
        <md-slide-toggle [labelPosition]="after" id="is_controlled" name="is_controlled" [(ngModel)]="model.is_controlled">Controlado</md-slide-toggle>
    </div>
    <!-- is_monopoly -->
    <div class='col-sm-12 col-md-3 margin-bottom'>
        <md-slide-toggle [labelPosition]="after" id="is_monopoly" name="is_monopoly" [(ngModel)]="model.is_monopoly">Monopolio</md-slide-toggle>
    </div>
    <!-- is_pos -->
    <div class='col-sm-12 col-md-3 margin-bottom'>
        <md-slide-toggle [labelPosition]="after" id="is_pos" name="is_pos" [(ngModel)]="model.is_pos">POS</md-slide-toggle>
    </div>
    <div class="col-sm-12" [class.btn-action-container]="booActive">
        <button type="button" [disabled]="action_active ? false : !pharmeceuticalForm.form.valid" md-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
            (click)="save()">{{str_action}}</button>
    </div>
</form>