<div class="box-body">
    <!--FORM-->
    
    <form #modelForm="ngForm" autocomplete="off">
            <div class="row">
        <div class="col-sm-12 margin-botton">
            <div class="flex">
                <span class="flex-spacer"></span>
                <mat-slide-toggle checked="true" id="status" name="status" [(ngModel)]="model.status"> Estado </mat-slide-toggle>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 margin-botton">
            <mat-form-field class="full-width">
                <input required type="text" id="firstname" name="firstname" [(ngModel)]="model.firstname" matInput placeholder="Nombres">
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 margin-botton">
            <mat-form-field class="full-width">
                <input required type="text" id="lastname" name="lastname" [(ngModel)]="model.lastname" matInput placeholder="Apellidos">
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 margin-botton">
            <mat-form-field class="full-width">
                <input autocomplete="nope" autocorrect="off" autocapitalize="off" spellcheck="false" required type="text" id="username" name="username"
                    [(ngModel)]="model.username" matInput placeholder="Nombre de Usuario">
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 margin-botton">
            <mat-form-field class="full-width">
                <input autocomplete="new-password" autocorrect="off" autocapitalize="off" spellcheck="false" [required]="!model.id" [disabled]="model.id"
                    type="password" id="password" name="password" [(ngModel)]="model.password" matInput placeholder="Contraseña"
                    reverse="true">
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 margin-botton">
            <mat-form-field class="full-width">
                <input required type="email" id="email" name="email" [(ngModel)]="model.email" matInput placeholder="Correo electrónico">
            </mat-form-field>
        </div>

    </div>

    </form>


</div>

<div class="box-body">

    <div class="row">

        <div class="col-sm-12">
            <form #companyForm="ngForm" autocomplete="off">

                <!-- company -->
                <div class='col-sm-12 col-md-4'>
                    <div class="box-body">
                        <mat-form-field><mat-select required class="full-width" placeholder="Empresa" [(ngModel)]="model_user_company.company" name="company_id" id="company_id">
                            <mat-option *ngFor="let item of companies" [value]="item" [hidden]="item.hide">{{item.name}}</mat-option>
                        </mat-select></mat-form-field>
                    </div>
                </div>

                <!-- user profile -->
                <div class='col-sm-12 col-md-4'>
                    <div class="box-body">
                        <mat-form-field><mat-select required class="full-width" placeholder="Perfil de usuario" [(ngModel)]="model_user_company.userprofile" name="user_profile_id"
                            id="user_profile_id">
                            <mat-option *ngFor="let item of user_profiles" [value]="item">{{item.up_description}}</mat-option>
                        </mat-select></mat-form-field>
                    </div>
                </div>

                <div class="col-md-4">
                    <button type="button" mat-raised-button color="primary" class="btn-w-md no-margin-left" [disabled]="!companyForm.form.valid"
                        (click)="addCompany()">Añadir Empresa</button>
                </div>
            </form>
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">

                <table class="mdl-data-table table-bordered table-striped cf no-margin">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Perfil de Usuario</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of model.usersprivileges">
                            <td>{{ item.company?.name }}</td>
                            <td>{{ item.userprofile?.up_description }}</td>
                            <td class="text-center">
                                <i class="fa fa-check fa-2x text-success" aria-hidden="true" *ngIf="item.company_id == model.company_default_id"></i>
                            </td>
                            <td class="text-center" title="Remover empresa">
                                <a style="cursor: pointer;" class="text-danger" (click)="removeCompany(item)">
                                    <i class="fa fa-trash fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-sm-12" [class.btn-action-container]="booActive">
            <button type="button" [disabled]="action_active ? false : !modelForm.form.valid" mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
                (click)="save()">{{str_action}}</button>
        </div>

    </div>

</div>