<div class="box-body">

    <!--FORM-->

    <form #modelForm="ngForm" autocomplete="off">
        <div class="col-sm-12 margin-bottom" >
            <button md-raised-button color="secundary" (click)="goList()" class="btn-w-md no-margin-left">Regresar</button>
        </div>
        <div class="col-sm-12 margin-bottom">
            <div class="flex">
                <span class="flex-spacer"></span>
                <md-slide-toggle checked="true" id="status" name="status" [(ngModel)]="model.status"> Estado </md-slide-toggle>
            </div>
        </div>



        <div class="col-sm-12 col-md-6 margin-bottom">
            <md-input-container class="full-width">
                <input required type="text" id="firstname" name="firstname" [(ngModel)]="model.firstname" mdInput placeholder="Nombres">
            </md-input-container>
        </div>

        <div class="col-sm-12 col-md-6 margin-bottom">
            <md-input-container class="full-width">
                <input required type="text" id="lastname" name="lastname" [(ngModel)]="model.lastname" mdInput placeholder="Apellidos">
            </md-input-container>
        </div>

        <div class="col-sm-12 col-md-6 margin-bottom">
            <md-input-container class="full-width">
                <input autocomplete="nope" autocorrect="off" autocapitalize="off" spellcheck="false" required type="text" id="username" name="username"
                    [(ngModel)]="model.username" mdInput placeholder="Nombre de Usuario">
            </md-input-container>
        </div>

        <div class="col-sm-12 col-md-6 margin-bottom">
            <md-input-container class="full-width">
                <input autocomplete="new-password" autocorrect="off" autocapitalize="off" spellcheck="false" [required]="!model.id" [disabled]="model.id"
                    type="password" id="password" name="password" [(ngModel)]="model.password" mdInput placeholder="Contraseña"
                    reverse="true">
            </md-input-container>
        </div>

        <div class="col-sm-12 col-md-6 margin-bottom">
            <md-input-container class="full-width">
                <input required type="email" id="email" name="email" [(ngModel)]="model.email" mdInput placeholder="Correo electrónico">
            </md-input-container>
        </div>



    </form>


</div>

<div class="box-body">


    <form #companyForm="ngForm" autocomplete="off">

        <!-- company -->
        <div class='col-sm-12 col-md-4 margin-bottom'>
            <md-select required class="full-width" placeholder="Empresa" [(ngModel)]="model_user_company.company" name="company_id" id="company_id">
                <md-option *ngFor="let item of companies" [value]="item" [hidden]="item.hide">{{item.name}}</md-option>
            </md-select>
        </div>

        <!-- user profile -->
        <div class='col-sm-12 col-md-4 margin-bottom'>
            <md-select required class="full-width" placeholder="Perfil de usuario" [(ngModel)]="model_user_company.userprofile" name="user_profile_id"
                id="user_profile_id">
                <md-option *ngFor="let item of user_profiles" [value]="item">{{item.up_description}}</md-option>
            </md-select>
        </div>

        <div class="col-sm-12 col-md-4 margin-bottom">
            <div class="flex">
                <span class="flex-spacer"></span>
                <button type="button" md-raised-button color="primary" class="btn-w-md no-margin-left" [disabled]="!companyForm.form.valid"
                    (click)="addCompany()">Añadir Empresa</button>
            </div>

        </div>
    </form>
    <div class="col-sm-12">
        <div class="box box-default table-box table-responsive mdl-shadow--2dp">

            <table class="mdl-data-table table-bordered table-striped cf no-margin">
                <thead>
                    <tr>
                        <td class="w-40" *ngIf="str_action == 'Actualizar'"></td>
                        <th>Empresa</th>
                        <th>Perfil de Usuario</th>
                        <th class="w-40"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.usersprivileges">
                        <td class="w-40" *ngIf="str_action == 'Actualizar'">
                            <md-icon title="Registro guardado" class="text-success" *ngIf="item.company_id == model.company_default_id">check</md-icon>
                        </td>
                        <td>{{ item.company?.name }}</td>
                        <td>{{ item.userprofile?.up_description }}</td>

                        <td class="w-40" title="Remover empresa">
                            <button type="button" md-icon-button class="text-danger" (click)="removeCompany(item)">
                                <md-icon>delete</md-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="col-sm-12" >
        <button [disabled]="!modelForm.form.valid" md-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
            (click)="save()">{{strAction}}</button>
    </div>


</div>