<!-- LIST -->
<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar" [(ngModel)]="search" (keydown)="enter($event)">
            <div style="width: 34px" class="input-group-addon">
                <a style="cursor:pointer" (click)="getAll()">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="!noaction">
        <button *ngIf="actions[0].status" mat-raised-button (click)="NEW()" color="primary" class="btn-w-md no-margin-left btn-right">
            <mat-icon>add_circle_outline</mat-icon> Nuevo
        </button>
    </div>

    <div class="col-sm-12">

        <div class="box box-default table-box table-responsive mdl-shadow--2dp">

            <table class="mdl-data-table table-bordered table-striped cf no-margin">
                <thead>
                    <tr>
                        <th class="noAuto" (click)="sort('id')">Identificación
                            <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th (click)="sort('document_type_id')">Nombre
                            <span class="glyphicon sort-icon" *ngIf="key =='document_type_id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th (click)="sort('contract')">Contrato
                            <span class="glyphicon sort-icon" *ngIf="key =='contract'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <!--th (click)="sort('contract')">Modalidad
                            <span class="glyphicon sort-icon" *ngIf="key =='contract'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th-->
                        <th (click)="sort('state')">Estado
                            <span class="glyphicon sort-icon" *ngIf="key =='ct.state'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="list.data">
                    <tr *ngFor="let item of list.data; let index = index" (click)="view(item); numItemSelected = index" [ngClass]="{'active': numItemSelected == index }">
                        <td class="noAuto">{{ item.document_number }}</td>
                        <td>{{ item.firstname }}</td>
                        <td>{{ item.contract }}</td>
                        <!--td>{{item.contracts_payment_method}}</td-->
                        <td>{{ item.state ? 'Activo' : 'Inactiva' }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <ngb-pagination [pageSize]="pageSize" [collectionSize]="paginationSize" [(page)]="advancedPagination" [maxSize]="maxSize"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getAll()"></ngb-pagination>

    </div>
</div>