<!-- LIST -->
<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar" [(ngModel)]="search" (keydown)="enter($event)">
            <div style="width: 34px" class="input-group-addon">
                <a style="cursor:pointer" (click)="getAll()">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </div>
    </div>
    <div class='col-md-4 margin-bottom'>
        <mat-form-field class="full-width">
    <mat-select class="full-width" placeholder="Seleccione una Bodega" (change)="filtrar($event)" [(ngModel)]="warehouse_id" name="warehouse_id">
        <mat-option *ngFor="let item of warehouses" [value]="item.id">{{item.name}}</mat-option>
    </mat-select>
        </mat-form-field>
</div>
  <div class="col-sm-12">

      <div class="box box-default table-box table-responsive mdl-shadow--2dp">

                <table class="mdl-data-table table-bordered table-striped no-margin" style="white-space: normal;">
                <thead>
                    <tr>
                        <!-- <th class="noAuto" (click)="sort('w.id')">ID
                            <span class="glyphicon sort-icon" *ngIf="key =='w.id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th> -->
                        <th>Bodega
                            <span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>PLU
                            <span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Producto
                            <span class="glyphicon sort-icon" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Unidades
                            <span class="glyphicon sort-icon"  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Fracciones
                            <span class="glyphicon sort-icon"  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Lote
                            <span class="glyphicon sort-icon"  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Ubicación
                            <span class="glyphicon sort-icon"  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Fecha de Vencimiento
                            <span class="glyphicon sort-icon"  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Costo Unitario
                            <span class="glyphicon sort-icon"  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th>Valor Total
                            <span class="glyphicon sort-icon"  [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let item of list.data; let index = index" (click)="view(item); numItemSelected = index"
                        [ngClass]="{'active': numItemSelected == index }">
                        <!-- <td class="noAuto">{{ item.id }}</td> -->
                        <td>{{item.warehouse.name}}</td>
                        <td>{{item.product.sku}}</td>
                        <td>{{item.product.name}}<span style="font-weight:bold;" *ngIf="item.product.comercial">({{item.product.comercial_name}})</span></td>
                        <td>{{item.set_stock}}</td>
                        <td>{{item.fraction_stock}}</td>
                        <td>{{item.batch}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.expiration_date}}</td>
                        <td>${{item.product.averageunitcost}}</td>
                        <td>${{(item.product.averageunitcost * item.set_stock) + ((item.product.averageunitcost/item.product.units) * item.fraction_stock)}}</td>
                    </tr>
                </tbody>
      
          </table>

      </div>

      <ngb-pagination [pageSize]="pageSize" [collectionSize]="paginationSize" [(page)]="advancedPagination" [maxSize]="maxSize"
          [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getAll()"></ngb-pagination>

  </div>
</div>