<h1 md-dialog-title>{{ data.title }}</h1>

<md-dialog-content>
    <form #resolutionForm="ngForm" autocomplete="off">

        <!-- contract_number -->
        <div class='col-sm-12 col-md-6'>
            <div class="box-body">
                <md-input-container class="full-width">
                    <input required type="text" id="contract_number" name="contract_number" [(ngModel)]="model.contract_number" mdInput placeholder="Número de contrato">
                </md-input-container>
            </div>
        </div>

        <!-- contracting_entity -->
        <div class='col-sm-12 col-md-6'>
            <div class="box-body">
                <md-input-container class="full-width">
                    <input required type="text" id="contracting_entity" name="contracting_entity" [(ngModel)]="model.contracting_entity" mdInput
                        placeholder="Entidad contratante">
                </md-input-container>
            </div>
        </div>


        <!-- issue_date -->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-input-container class="full-width">
                    <input mdInput [mdDatepicker]="pickerIssueDate" id="issue_date" name="issue_date" placeholder="Fecha de expedición" [(ngModel)]="model.issue_date">
                    <button mdSuffix [mdDatepickerToggle]="pickerIssueDate"></button>
                </md-input-container>
                <md-datepicker #pickerIssueDate (selectedChanged)="onchange()"></md-datepicker>
            </div>
        </div>

        <!-- expiration_date -->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-input-container class="full-width">
                    <input mdInput [mdDatepicker]="pickerExpirationDate" id="expiration_date" name="expiration_date" placeholder="Fecha de vencimiento"
                        [(ngModel)]="model.expiration_date" [min]="model.issue_date">
                    <button mdSuffix [mdDatepickerToggle]="pickerExpirationDate"></button>
                </md-input-container>
                <md-datepicker #pickerExpirationDate></md-datepicker>
            </div>
        </div>

        <!--div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <input-file (onFileSelect)="onFileSelect($event)" [accept]="'image/*'">
                    <span class="nofiles">Adjuntar el documento</span>
                    <span class="selected">Archivo adjunto</span>
                </input-file>
            </div>
        </div-->
    </form>
</md-dialog-content>
<md-dialog-actions>
    <div class="col-sm-12">
        <div class="flex">
            <span class="flex-spacer"></span>
            <button *ngIf="booShow" md-button type="submit" [disabled]="action_active ? false : !resolutionForm.form.valid" (click)="add()">Agregar</button>
            <button md-button type="button" md-dialog-close>Cerrar</button>
        </div>
    </div>
</md-dialog-actions>