<div class="container">
<form #stakeHolderForm="ngForm" autocomplete="off">
    <div class="form-group row">
        <div class="full-width-40">
            <button type="button" mat-raised-button color="primary" (click)="goList()" class="btn-w-md no-margin-left">
                <mat-icon>keyboard_arrow_left</mat-icon> Regresar
            </button>
        </div>
    </div>
    <div class="row">
        <!-- person_type_id -->
        <div class="col-md-6">
            <mat-form-field class="full-width">
                <mat-select required class="full-width" placeholder="Tipo de persona" [(ngModel)]="_model.stakeholders_info.person_type_id"
                    name="person_type_id" id="person_type_id" (change)="selectPersonType()">
                    <mat-option *ngFor="let item of persons_type" [value]="item.id">{{ item.value }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- rut -->
        <div class="col-md-6">
            <div class="flex height-30">
                <span class="flex-spacer"></span>
                <mat-slide-toggle *ngIf="_model.stakeholders_info.person_type_id == 38 && _model.stakeholders_info.document_type_id == 12"
                    [labelPosition]="'before'" id="rut" name="rut" [(ngModel)]="_model.stakeholders_info.rut">RUT</mat-slide-toggle>
            </div>
        </div>
        <!-- document_type_id -->
        <div class="col-md-6">
            <mat-form-field class="full-width">
                <mat-select (change)="changeDocumentType()" required class="full-width" placeholder="Tipo de documento" [(ngModel)]="_model.stakeholders_info.document_type_id"
                    name="document_type_id" id="document_type_id">
                    <mat-option *ngFor="let item of document_type" [value]="item.id">{{item.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- document number -->
        <div class="col-md-4" [ngClass]="
    {
        'col-sm-8 col-md-4' : _model.stakeholders_info.document_type_id == 14 || _model.stakeholders_info.rut, 
        'col-sm-4 col-md-6' : _model.stakeholders_info.document_type_id != 14 && !_model.stakeholders_info.rut 
    }">
            <mat-form-field class="full-width">
                <input required NumberOnly  (keyup)="getRutDigit()" type="text" id="document_number" name="document_number" [(ngModel)]="_model.stakeholders_info.document_number"
                    matInput placeholder="Número de documento">
            </mat-form-field>
        </div>
        <!-- document_number_digit -->
        <div class="col-sm-4 col-md-2" *ngIf="_model.stakeholders_info.document_type_id == 14 || _model.stakeholders_info.rut">
        <mat-form-field class="full-width" class="full-width">
            <input [disabled]="true" type="text" id="document_number_digit" name="document_number_digit" [(ngModel)]="document_number_digit"
                matInput placeholder="Dígito">
        </mat-form-field>
    </div>

    <!-- ######################################## IF PERSON NATURAL ######################################## -->
    <!--&& !_model.stakeholders_info.rut-->
    <ng-container *ngIf="_model.stakeholders_info.person_type_id === 38">
        <!-- firstname -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="firstname" name="firstname" [(ngModel)]="_model.stakeholders_info.firstname" matInput placeholder="Primer nombre">
            </mat-form-field>
        </div>
        <!-- middlename -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="middlename" name="middlename" [(ngModel)]="_model.stakeholders_info.middlename" matInput placeholder="Segundo nombres">
            </mat-form-field>
        </div>
        <!-- lastname -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="lastname" name="lastname" [(ngModel)]="_model.stakeholders_info.lastname" matInput placeholder="Apellidos">
            </mat-form-field>
        </div>
        <!-- second_surname -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="second_surname" name="second_surname" [(ngModel)]="_model.stakeholders_info.second_surname" matInput
                    placeholder="Segundo apellido">
            </mat-form-field>
        </div>
    </ng-container>
    <!-- ######################################## IF PERSON NATURAL ######################################## -->
    <!-- legalname -->
    <div class="col-md-3" [ngClass]="{ 
        'col-md-6 ' : _model.stakeholders_info.rut || (_model.stakeholders_info.person_type_id == 39 && _model.stakeholders_info.document_type_id == 14), 
        'col-md-12 ' : !_model.stakeholders_info.rut && _model.stakeholders_info.person_type_id != 39 }" *ngIf="_model.stakeholders_info.person_type_id == 39">
            <mat-form-field class="full-width">
                <input type="text" id="legalname" name="legalname" [(ngModel)]="_model.stakeholders_info.legalname" matInput placeholder="Razón Social">
            </mat-form-field>
        </div>
        <!-- business name -->
        <div class="col-md-3" [ngClass]="{ 
        'col-md-6 ' : _model.stakeholders_info.person_type_id === 39 , 
        'col-md-12 ' :  _model.stakeholders_info.person_type_id !== 39 
    }" *ngIf="_model.stakeholders_info.rut || (_model.stakeholders_info.person_type_id == 39)">
        <mat-form-field class="full-width">
            <input type="text" id="businessname" name="businessname" [(ngModel)]="_model.stakeholders_info.businessname" matInput placeholder="Nombre del Establecimiento">
        </mat-form-field>
    </div>
    <!--country -->
    <div class="col-md-4">
        <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="País" [(ngModel)]="country_id" name="country_id" (change)="getDepartments()"
            id="country_id">
            <mat-option *ngFor="let item of countries" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>     </mat-form-field>
    </div>
    <!-- department -->
    <div class="col-md-4">
        <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="Departamento" [(ngModel)]="department_id" name="department_id" (change)="getCities()"
            id="department_id">
            <mat-option *ngFor="let item of departments" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>     </mat-form-field>
    </div>
    <!--city -->
    <div class="col-md-4">
        <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="Ciudad" [(ngModel)]="city_id" name="city_id"
            id="city_id">
            <mat-option *ngFor="let item of cities" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>     </mat-form-field>
    </div>
    <!-- address -->
    <div class="col-md-4">
        <mat-form-field class="full-width" class="full-width">
            <input required type="text" id="address" name="address" [(ngModel)]="_model.stakeholders_info.address" matInput placeholder="Dirección">
        </mat-form-field>
    </div>
    <!-- phone_number -->
    <div class="col-md-4">
        <mat-form-field class="full-width" class="full-width">
            <input required NumberOnly type="text" id="phone_number" name="phone_number" [(ngModel)]="_model.stakeholders_info.phone_number"
                matInput placeholder="Teléfono">
        </mat-form-field>
        
    </div>
    <!-- email -->
    <div class="col-md-4">
            <mat-form-field class="full-width" class="full-width">
                <input required type="text" id="website" name="website" [(ngModel)]="_model.stakeholders_info.email" matInput placeholder="Correo electrónico">
            </mat-form-field>
        </div>
    </div>
    <!-- ######################################## PROFILE ######################################## -->

    <div class="row mark">
        <!--  -->
        <div class="col-sm-12">
            <h4>Perfiles como tercero</h4>
        </div>
        <!--  -->
        <div class="col-sm-3">
            <mat-checkbox id="is_customer" name="is_customer" [(ngModel)]="_model.profile.is_customer">Cliente</mat-checkbox>
        </div>
        <div class="col-sm-3">
            <mat-checkbox id="is_supplier" name="is_supplier" [(ngModel)]="_model.profile.is_supplier">Proveedor</mat-checkbox>
        </div>
        <div class="col-sm-3">
            <mat-checkbox id="is_seller" name="is_seller" [(ngModel)]="_model.profile.is_seller">Vendedor</mat-checkbox>
        </div>
        <div class="col-sm-3">
            <mat-checkbox id="is_employee" name="is_employee" [(ngModel)]="_model.profile.is_employee">Empleado</mat-checkbox>
        </div>
        <div class="col-sm-3">
                <mat-checkbox id="is_laboratory" name="is_laboratory" [(ngModel)]="_model.profile.is_laboratory">Laboratorio</mat-checkbox>
            </div>
        <div class="col-sm-3">
            <mat-checkbox id="is_maker" name="is_maker" [(ngModel)]="_model.profile.is_maker">Fabricante</mat-checkbox>
        </div>
        <div class="col-sm-3">
            <mat-checkbox id="is_importer" name="is_importer" [(ngModel)]="_model.profile.is_importer">Importador</mat-checkbox>
        </div>
        <div class="col-md-3">
            <mat-checkbox id="is_holder_sanitary" name="is_holder_sanitary" [(ngModel)]="_model.profile.is_holder_sanitary">Titular
                de registro sanitario</mat-checkbox>
        </div>

    </div>

    <!-- ######################################## PROFILE ######################################## -->

    <!-- ######################################################################################### -->
    <div class="mark" *ngIf="(_model.stakeholders_info.rut || _model.stakeholders_info.document_type_id === 14) && (_model.profile.is_supplier || _model.profile.is_customer)">
        <div class="col-sm-12">
            <h2 class="article-title text-center margin-10">Información Tributaria</h2>
        </div>
        <!-- tax_regime_id -->
        <div class="col-md-4">
            <mat-form-field class="full-width">
                <mat-select required class="full-width" placeholder="Tipo de regimen" [(ngModel)]="_model.comercial_stakeholders_info.tax_regime_id"
                    name="tax_regime_id" id="tax_regime_id">
                    <mat-option *ngFor="let item of tax_regime" [value]="item.id">{{item.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- constitution_date -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                <input matInput [matDatepicker]="pickerConstitutionDate" id="constitution_date" name="constitution_date" placeholder="Fecha de constitución" [(ngModel)]="_model.comercial_stakeholders_info.constitution_date">
            </mat-form-field>
            <mat-datepicker #pickerConstitutionDate></mat-datepicker>
        </div>
        <span class="col-sm-12"></span>
        <!-- retention_for_rent -->
        <div class="col-md-6">
            <mat-slide-toggle [labelPosition]="before" id="retention_for_rent" name="retention_for_rent" [(ngModel)]="_model.comercial_stakeholders_info.retention_for_rent">Retención por renta</mat-slide-toggle>
        </div>
        <!-- big_contributor -->
        <div class="col-md-6">
            <mat-slide-toggle [labelPosition]="before" id="big_contributor" name="big_contributor" [(ngModel)]="_model.comercial_stakeholders_info.big_contributor">Gran Contribuyente</mat-slide-toggle>
        </div>
        <!-- codes_iva -->
        <div class="col-md-6" [ngClass]="{ 'col-md-6' : !_model.comercial_stakeholders_info.codes.iva, 'col-sm-3' : _model.comercial_stakeholders_info.codes.iva }">
            <mat-slide-toggle [labelPosition]="before" id="codes_iva" name="codes_iva" [(ngModel)]="_model.comercial_stakeholders_info.codes.iva">Retenedor
                de IVA</mat-slide-toggle>
        </div>
        <!-- code_iva_percent -->
        <div class="col-sm-3" *ngIf="_model.comercial_stakeholders_info.codes.iva">
            <mat-form-field class="full-width" class="full-width">
                <input NumberOnly required type="text" id="code_iva_percent" name="code_iva_percent" placeholder="Porcentaje" [(ngModel)]="_model.comercial_stakeholders_info.codes.iva_percent"
                    matInput>
                <span matSuffix>% &nbsp;</span>
            </mat-form-field>
        </div>
        <!-- codes_ica -->
        <div class="col-md-6" [ngClass]="{ 'col-md-6 ' : !_model.comercial_stakeholders_info.codes.ica, 'col-sm-3 ' : _model.comercial_stakeholders_info.codes.ica }">
            <mat-slide-toggle [labelPosition]="before" id="codes_ica" name="codes_ica" [(ngModel)]="_model.comercial_stakeholders_info.codes.ica">Retenedor de ICA</mat-slide-toggle>
        </div>
        <!-- code_ica_percent -->
        <div class="col-sm-3" *ngIf="_model.comercial_stakeholders_info.codes.ica">
            <mat-form-field class="full-width" class="full-width">
                <input NumberOnly required type="text" id="code_ica_percent" name="code_ica_percent" placeholder="Porcentaje" [(ngModel)]="_model.comercial_stakeholders_info.codes.ica_percent"
                    matInput>
                <span matSuffix>% &nbsp;</span>
            </mat-form-field>
        </div>
        <span class="col-sm-12"></span>
        <!-- codes_ciiu -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                <input required type="text" id="ciiu" name="ciiu" [(ngModel)]="_model.comercial_stakeholders_info.codes.ciiu" matInput placeholder="Código CIIU">
            </mat-form-field>
        </div>
    </div>
    <!-- ######################################################################################### -->
    <div class="mark" *ngIf="_model.profile.is_customer">
        <div class="col-sm-12">
            <h2 class="article-title text-center margin-10">Información del Cliente</h2>
        </div>
        <div class="row">
            <!-- customer_class_id -->
        <div class="col-md-6">
            <mat-form-field class="full-width"><mat-select class="full-width" placeholder="Clases de cliente" [(ngModel)]="_model.customer.customer_class_id" name="customer_class_id"
                id="customer_class_id">
                <mat-option *ngFor="let item of customers_class" [value]="item.id">{{item.value}}</mat-option>
            </mat-select>     </mat-form-field>
        </div>
        <!-- debt_type_id -->
        <div class="col-md-6">
            <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="Tipo de cartera" [(ngModel)]="_model.customer.debt_type_id" name="debt_type_id"
                id="city_id">
                <mat-option *ngFor="let item of portfolio_type" [value]="item.id">{{item.value}}</mat-option>
            </mat-select>     </mat-form-field>
        </div>
        <!-- credit_limit -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                    
                <input appMycurrency required type="text" id="customer_credit_limit" name="customer_credit_limit" [(ngModel)]="_model.customer.credit_limit"
                    matInput placeholder="Cupo del crédito">
            </mat-form-field>
        </div>
        <!-- sales_representative_id -->
        <div class="col-md-6">
            <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="Vendedor" [(ngModel)]="_model.customer.sales_representative_id" name="sales_representative_id"
                id="sales_representative_id">
                <mat-option *ngFor="let item of sales_representatives" [value]="item.id">{{ item.stakeholder_info.fullname }}</mat-option>
            </mat-select>     </mat-form-field>
        </div>
        <!-- global_discount -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                    
                <input appMycurrency type="text" id="global_discount" name="global_discount" max="12" [(ngModel)]="_model.customer.global_discount"
                    matInput placeholder="Descuento Global">
            </mat-form-field>
        </div>
        <!-- payment_condition -->
        <div *ngIf="_model.customer.debt_type_id == 18" class="col-sm-3">
            <mat-form-field class="full-width">     <mat-select [required]="_model.customer.debt_type_id == 17" class="full-width" placeholder="Condición de pago" [(ngModel)]="_model.customer.payment_condition_id"
                name="payment_condition" id="payment_condition">
                <mat-option *ngFor="let item of conditions_payment" [value]="item.id">{{item.value}}</mat-option>
            </mat-select>     </mat-form-field>
        </div>
        <!-- credit_limit_blocking -->
        <div class="col-md-6">
            <mat-slide-toggle [labelPosition]="before" id="credit_limit_blocking" name="credit_limit_blocking" [(ngModel)]="_model.customer.credit_limit_blocking">Bloqueo por cupo</mat-slide-toggle>
        </div>
        <span class="col-sm-12"></span>
        <!-- days_early_payment -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                    <input appMycurrency type="text" id="days_early_payment" name="days_early_payment" [(ngModel)]="_model.customer.days_early_payment"
                        matInput placeholder="Descuento de pronto pago">
                
            </mat-form-field>
        </div>
        <!-- days_grace -->
        <div *ngIf="_model.customer.debt_type_id == 18" class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input NumberOnly [required]="_model.customer.debt_type_id == 17" required type="text" id="days_grace" name="days_grace"
                    [(ngModel)]="_model.customer.days_grace" matInput placeholder="Días de gracia">
            </mat-form-field>
        </div>
        <!-- late_payment_blocking -->
        <div class="col-md-6">
            <mat-slide-toggle [labelPosition]="before" id="late_payment_blocking" name="late_payment_blocking" [(ngModel)]="_model.customer.late_payment_blocking">Bloqueo por mora</mat-slide-toggle>
        </div>
        </div>
        
        
        <div class="col-sm-12">
            <div class="box-header no-padding-h text-center">
                <h5 class="text-left">Contacto de Compras</h5>
            </div>
        </div>
        <!-- name_purchases_contact -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="name_purchases_contact" name="name_purchases_contact" [(ngModel)]="_model.customer.purchases_contact.name"
                    matInput placeholder="Nombre">
            </mat-form-field>
        </div>
        <!-- phone_purchases_contact -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input NumberOnly type="text" id="phone_purchases_contact" name="phone_purchases_contact" [(ngModel)]="_model.customer.purchases_contact.phone"
                    matInput placeholder="Teléfono">
            </mat-form-field>
        </div>
        <!-- email_purchases_contact -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="email_purchases_contact" name="email_purchases_contact" [(ngModel)]="_model.customer.purchases_contact.email"
                    matInput placeholder="Correo electrónico">
            </mat-form-field>
        </div>
        <div class="col-sm-12">
            <div class="box-header no-padding-h text-center">
                <h5 class="text-left">Contacto de Cartera</h5>
            </div>
        </div>
        <!-- name_debt_contact -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="name_debt_contact" name="name_debt_contact" [(ngModel)]="_model.customer.debt_contact.name" matInput
                    placeholder="Nombre">
            </mat-form-field>
        </div>
        <!-- phone_debt_contact -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" NumberOnly id="phone_debt_contact" name="phone_debt_contact" [(ngModel)]="_model.customer.debt_contact.phone"
                    matInput placeholder="Teléfono">
            </mat-form-field>
        </div>
        <!-- email_debt_contact -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input type="text" id="email_debt_contact" name="email_debt_contact" [(ngModel)]="_model.customer.debt_contact.email" matInput
                    placeholder="Correo electrónico ">
            </mat-form-field>
        </div>
        <!-- TABLE -->
        <div class="full-width">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex" style="full-width: 15px;height: 51px;">
                        <div class="box-header no-padding-h">Puntos de envío</div>
                        <span class="flex-spacer"></span>
                        <button type="button" mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right" (click)="openAddSucursal()">Añadir</button>
                    </div>
                    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                        <table class="mdl-data-table table-bordered table-striped cf no-margin">
                            <thead>
                                <tr>

                                    <th>Sucursal</th>
                                    <th>Ubicación</th>
                                    <th class="w-40"></th>
                                    <th class="w-40"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of _model.customer.shipping_points; let index = index">

                                    <td>{{ item.name }}</td>
                                    <td>{{ item.country.value + ', ' + item.department.value + ', ' + item.city.value }}</td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button class="text-danger" (click)="removeSucursal(item)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button (click)="openSucursal(item, index)">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE -->

        <div class="full-width">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex" style="full-width: 15px;height: 51px;">
                        <div class="box-header no-padding-h">Contrato institucional</div>
                        <span class="flex-spacer"></span>
                        <button type="button" mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right" (click)="openAddInstitucionalSale()">Añadir</button>
                    </div>
                    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                        <table class="mdl-data-table table-bordered table-striped cf no-margin">
                            <thead>
                                <tr>

                                    <th>No. Contrato</th>
                                    <th>Entidad contratante</th>
                                    <!--th></th-->
                                    <th class="w-40"></th>
                                    <th class="w-40"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of _model.customer.institutional_sale_contract; let index = index">

                                    <td>{{ item.contract_number }}</td>
                                    <td>{{ item.contracting_entity }}</td>
                                    <!--td>
                                        <a *ngIf="item.file !== ' ' && item.file !== null" href="{{ item.file }}">
                                            <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
                                        </a>
                                    </td-->
                                    <td class="w-40">
                                        <button type="button" mat-icon-button class="text-danger" (click)="removeInstitucionalSale(item)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button (click)="openInstitucionalSale(item, index)">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE -->
        <div class="full-width">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex" style="full-width: 15px;height: 51px;">
                        <div class="box-header no-padding-h">Resoluciones de controlado</div>
                        <span class="flex-spacer"></span>
                        <button type="button" mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right" (click)="openAddControlledResolution()">Añadir</button>
                    </div>
                    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                        <table class="mdl-data-table table-bordered table-striped cf no-margin">
                            <thead>
                                <tr>
                                    <th>No. Resolución</th>
                                    <th>Fecha de as</th>
                                    <th>Fecha de expiración</th>
                                    <th>Estado</th>
                                    <th class="w-40"></th>
                                    <th class="w-40"></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of _model.customer.controlled_resolution">

                                    <td>{{ item.resolution_number }}</td>
                                    <td>{{ item.issue_date | date: 'dd-MM-yyyy '}}</td>
                                    <td>{{ item.expiration_date | date: 'dd-MM-yyyy '}}</td>
                                    <td>{{ item.state ? 'Actvo ' : 'Inactivo ' }}</td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button class="text-danger" (click)="removeControlledResolution(item)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button (click)="openControlledResolution(item)">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE -->
        <div class="full-width">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex" style="full-width: 15px;height: 51px;">
                        <div class="box-header no-padding-h">Resoluciones de monopolio</div>
                        <span class="flex-spacer"></span>
                        <button type="button" [disabled]="_model.customer.shipping_points.length == 0" mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
                            (click)="openAddMonopolyResolution()">Añadir</button>
                    </div>
                    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                        <table class="mdl-data-table table-bordered table-striped cf no-margin">
                            <thead>
                                <tr>
                                    <th>No. Resolución</th>
                                    <th>Fecha de as</th>
                                    <th>Fecha de expiración</th>
                                    <th>Estado</th>
                                    <th class="w-40"></th>
                                    <th class="w-40"></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of _model.customer.monopoly_resolution; let index = index">

                                    <td>{{ item.resolution_number }}</td>
                                    <td>{{ item.issue_date | date: 'dd-MM-yyyy '}}</td>
                                    <td>{{ item.expiration_date | date: 'dd-MM-yyyy '}}</td>
                                    <td>{{ item.state ? 'Actvo ' : 'Inactivo ' }}</td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button class="text-danger" (click)="removeMonopolyResolution(item)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button (click)="openMonopolyResolution(item, index)">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ######################################################################################### -->
    <div class="mark" *ngIf="_model.profile.is_supplier">
        <div class="col-sm-12">
            <h2 class="article-title text-center margin-10">Información del proveedor</h2>
        </div>
        <!-- class supplier -->
        <div class="col-md-6">
            <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="Clase de proveedor" [(ngModel)]="_model.supplier.supplier_class_id" name="supplier_class_id"
                id="supplier_class_id">
                <mat-option *ngFor="let item of suppliers_class" [value]="item.id">{{item.value}}</mat-option>
            </mat-select>     </mat-form-field>
        </div>
        <!-- credit_limit -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                
                <input appMycurrency required type="text" id="supplier_credit_limit" name="supplier_credit_limit" [(ngModel)]="_model.supplier.credit_limit"
                    matInput placeholder="Cupo de crédito">
            </mat-form-field>
        </div>
        <!-- supplier_global_discount -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                    
                <input appMycurrency type="text" id="supplier_global_discount" name="supplier_global_discount" max="12" [(ngModel)]="_model.supplier.global_discount"
                    matInput placeholder="Descuento Global">
            </mat-form-field>
        </div>
        <!-- supplier_payment_condition -->
        <div class="col-sm-3">
            <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="Condición de pago" [(ngModel)]="_model.supplier.payment_condition_id"
                name="supplier_payment_condition" id="supplier_payment_condition">
                <mat-option *ngFor="let item of conditions_payment" [value]="item.id">{{item.value}}</mat-option>
            </mat-select>     </mat-form-field>
        </div>
        <!-- supplier_days_early_payment -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input NumberOnly type="text" id="supplier_days_early_payment" name="supplier_days_early_payment" [(ngModel)]="_model.supplier.days_early_payment"
                    matInput placeholder="Días de pronto pago">
            </mat-form-field>
        </div>
        <!-- supplier_days_grace -->
        <div class="col-sm-3">
            <mat-form-field class="full-width" class="full-width">
                <input NumberOnly required type="text" id="supplier_days_grace" name="supplier_days_grace" [(ngModel)]="_model.supplier.days_grace"
                    matInput placeholder="Días de gracia">
            </mat-form-field>
        </div>
        <!-- payment_method_id -->
        <div class="col-md-6">
            <mat-form-field class="full-width">     <mat-select required class="full-width" placeholder="Método de pago" [(ngModel)]="_model.supplier.payment_method_id" name="supplier_payment_method_id"
                id="supplier_class_id">
                <mat-option *ngFor="let item of payment_method" [value]="item.id">{{item.value}}</mat-option>
            </mat-select>     </mat-form-field>
        </div>
        <!-- purchase_order -->
        <div class="col-md-6">
            <mat-slide-toggle [labelPosition]="before" id="purchase_order" name="purchase_order" [(ngModel)]="_model.supplier.purchase_order">Exige orden de compra</mat-slide-toggle>
        </div>
        <!-- TABLE -->
        <div class="full-width">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex">
                        <div class="box-header no-padding-h">Cuentas bancarias</div>
                        <span class="flex-spacer"></span>
                        <button mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right" (click)="openAddBankAccount()">Añadir</button>
                    </div>
                    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                        <table class="mdl-data-table table-bordered table-striped cf no-margin">
                            <thead>
                                <tr>

                                    <th>Nombre</th>
                                    <th>Cuenta</th>
                                    <th>Tipo de cuenta</th>
                                    <th class="w-40"></th>
                                    <th class="w-40"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of _model.supplier.bank_accounts; let index = index">

                                    <td>{{ item.bank_name }}</td>
                                    <td>{{ item?.account_number }}</td>
                                    <td>{{ item.bank_account_type_name }}</td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button class="text-danger" (click)="removeBankAccount(item)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                    <td class="w-40">
                                        <button type="button" mat-icon-button (click)="openBankAccount(item, index)">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="box-header no-padding-h text-center">Contacto de Venta</div>
        </div>
        <!-- name_sales_contact -->
        <div class="col-md-1">
            <mat-form-field class="full-width" class="full-width">
                <input required type="text" id="name_sales_contact" name="name_sales_contact" [(ngModel)]="_model.supplier.sales_contact.name"
                    matInput placeholder="Nombre del contacto de compras">
            </mat-form-field>
        </div>
        <!-- phone_sales_contact -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                <input NumberOnly required type="text" id="phone_sales_contact" name="phone_sales_contact" [(ngModel)]="_model.supplier.sales_contact.phone"
                    matInput placeholder="Teléfono del contacto de compras">
            </mat-form-field>
        </div>
        <!-- email_sales_contact -->
        <div class="col-md-6">
            <mat-form-field class="full-width" class="full-width">
                <input required type="text" id="email_sales_contact" name="email_sales_contact" [(ngModel)]="_model.supplier.sales_contact.email"
                    matInput placeholder="Correo electrónico del contacto de compras">
            </mat-form-field>
        </div>
    </div>

    <div class="col-sm-12" [class.btn-action-container]="booActive">
        <button type="button" [disabled]="!stakeHolderForm.form.valid" mat-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
            (click)="save()">{{strAction}}</button>
    </div>
</form>
</div>