<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Perfiles de Usuario</h1>
        </div>
        <p class="hero-tagline">A través de esta opción, usted podrá crear los perfiles de usuario de las cuales son necesarias para acceder a todas las opciones del sistema.</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">

                    <userprofile-action-cmp [numId]="id" *ngIf="isOpenActions"></userprofile-action-cmp>
                    <userprofile-list-cmp *ngIf="isOpenList"></userprofile-list-cmp>

                </div>                     
            </div>
        </div>
    </article>
</section>    