<form #modelForm="ngForm" autocomplete="off">
            
    <div class="col-sm-12 margin-bottom" [class.btn-action-container]="booActive">
        <button md-raised-button color="secundary" (click)="goList()" class="btn-w-md no-margin-left">Regresar</button>
    </div>
                                                            
    <!-- name -->
    <div class='col-sm-12 col-md-6'>
        <div class="box-body">
            <md-input-container class="full-width">
                <input required type="text" id="name" name="name" [(ngModel)]="model.name" mdInput placeholder="Nombre del Centro de Costo">
            </md-input-container>
        </div>
    </div>
    <!-- codigo -->
    <div class='col-sm-12 col-md-3'>
        <div class="box-body">
            <md-input-container class="full-width">
                <input type="text" id="codigo" name="codigo" [(ngModel)]="model.code" mdInput placeholder="Código" readonly>
            </md-input-container>
        </div>
    </div>

    <!-- estado -->
    <div class='col-sm-12 col-md-3'>
        <div class="box-body">
            <md-slide-toggle [labelPosition]="after" id="state" name="state" [(ngModel)]="model.state">Estado</md-slide-toggle>
        </div>
    </div>

    <div class='col-sm-12 col-md-12'>
        <div class="box-body">
            <md-input-container class="full-width">
                <textarea type="text" id="description" name="description" [(ngModel)]="model.description" mdInput placeholder="Descripción">
                </textarea>
            </md-input-container>
        </div>
    </div>   

    <!--tipo -->
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="box-body">
            <md-select class="full-width" placeholder="Tipo" [(ngModel)]="model.costcentretype_id" name="costcentretype_id"
            id="costcentretype_id">
                <md-option *ngFor="let item of costs_centres_types" [value]="item.id">{{item.value}}</md-option>
            </md-select>  
        </div>
    </div>
    
    <!-- operations/costs centres -->
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="box-body">
            <md-select class="full-width" placeholder="C. Operation/Costos" [(ngModel)]="model.operation_cost_centre_id" 
                name="operation_cost_centre_id" id="operation_cost_centre_id"> 
                <md-option *ngFor="let item of operations_costs_centres" [value]="item.id">{{item.name}}</md-option>
            </md-select> 
        </div> 
    </div>
                                
        <!--cost centre group -->
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="box-body">
            <md-select class="full-width" placeholder="Grupo de Centro de Costo" [(ngModel)]="model.costcentregroup_id" name="costcentregroup_id"
            id="costcentregroup_id">
                <md-option *ngFor="let item of costs_centres_groups" [value]="item.id">{{item.value}}</md-option>
            </md-select>    
        </div>                            
    </div>
    
    <div class="col-sm-12 col-md-12" [class.btn-action-container]="booActive">
        
        <button [disabled]="action_active ? false : !modelForm.form.valid" md-raised-button color="primary"
        class="btn-w-md no-margin-left btn-right" (click)="save()">{{str_action}}</button>
        
    </div>

</form>
    
