<h1 md-dialog-title>{{ data.title }}</h1>



<md-dialog-content>
    <form #sucursalForm="ngForm" autocomplete="off">
        
        <div class='col-sm-12 col-md-12 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="name" name="name" [(ngModel)]="model.name" mdInput placeholder="Nombre de sucursal">
            </md-input-container>
        </div>

        <div class='col-sm-12 col-md-4 margin-bottom'>
            <md-select class="full-width" placeholder="Pais" [(ngModel)]="model.country_id" name="country" (change)="getDepartments()"
                id="country">
                <md-option *ngFor="let item of countries" [value]="item.id">{{item.value}}</md-option>
            </md-select>
        </div>

        <div class='col-sm-12 col-md-4 margin-bottom'>
            <md-select class="full-width" placeholder="Departamento" [(ngModel)]="model.department_id" name="department" (change)="getCities()"
                id="department">
                <md-option *ngFor="let item of departments" [value]="item.id">{{item.value}}</md-option>
            </md-select>
        </div>

        <div class='col-sm-12 col-md-4 margin-bottom'>
            <md-select class="full-width" placeholder="Ciudad" [(ngModel)]="model.city_id" name="city" id="customer.branch_offices.city">
                <md-option *ngFor="let item of cities" [value]="item.id">{{item.value}}</md-option>
            </md-select>
        </div>

        <!-- address -->
        <div class='col-sm-12 col-md-12 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="address" name="address" [(ngModel)]="model.address" mdInput placeholder="Dirección de la sucursal">
            </md-input-container>
        </div>

        <!-- phone number -->
        <div class='col-sm-12 col-md-6 margin-bottom'>
            <md-input-container class="full-width">
                <input NumberOnly required type="text" id="phone_number" name="phone_number" [(ngModel)]="model.phone_number" mdInput placeholder="Teléfono de la sucursal">
            </md-input-container>
        </div>

        <!-- email -->
        <div class='col-sm-12 col-md-6 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="email" name="email" [(ngModel)]="model.email" mdInput placeholder="Correo de la sucursal">
            </md-input-container>
        </div>

        <!-- contact_name -->
        <div class='col-sm-12 col-md-6 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="contact_person_name" name="contact_person_name" [(ngModel)]="model.contact_person_name" mdInput
                    placeholder="Nombre del contacto">
            </md-input-container>
        </div>

        <!-- contact_charge -->
        <div class='col-sm-12 col-md-6 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="contact_person_charge" name="contact_person_charge" [(ngModel)]="model.contact_person_charge"
                    mdInput placeholder="Cargo del contacto">
            </md-input-container>
        </div>

        <!-- contact_phone number -->
        <div class='col-sm-12 col-md-6 margin-bottom'>
            <md-input-container class="full-width">
                <input NumberOnly required type="text" id="contact_person_phone_number" name="contact_person_phone_number" [(ngModel)]="model.contact_personphone_number"
                    mdInput placeholder="Teléfono del contacto">
            </md-input-container>
        </div>

        <!-- contact_email -->
        <div class='col-sm-12 col-md-6 margin-bottom'>
            <md-input-container class="full-width">
                <input required type="text" id="contact_person_email" name="contact_person_email" [(ngModel)]="model.contact_person_email"
                    mdInput placeholder="Correo eletrónico del contacto">
            </md-input-container>
        </div>
    </form>
</md-dialog-content>

<md-dialog-actions>
    <div class="col-sm-12">
        <div class="flex">
            <span class="flex-spacer"></span>
            <button color="primary" md-raised-button type="button" [disabled]="action_active ? false : !sucursalForm.form.valid" (click)="add()">{{ booShow ? 'Agregar' : 'Editar' }}</button>
            <button md-button type="button" md-dialog-close>Cerrar</button>
        </div>
    </div>
</md-dialog-actions>