<h1 md-dialog-title>{{ data.title }}</h1>

<md-dialog-content>

    <div class='col-sm-12 col-md-12'>
        <div class="box-body">
            <p>
                <md-radio-group class="md-radio-group-spacing" [(ngModel)]="radio.option">
                    <md-radio-button value="1">Buscar</md-radio-button>
                    <md-radio-button value="2">Crear</md-radio-button>
                </md-radio-group>
            </p>
        </div>
    </div>
    <!-- FORM -->
    <app-products-action *ngIf="radio.option==='2'" (select)="select($event)"></app-products-action>
    <!-- LIST -->
    <div class="col-sm-12">
        <app-products-list *ngIf="radio.option==='1'" (select)="select($event)"></app-products-list>
    </div>
</md-dialog-content>

<md-dialog-actions>
    <div class="flex full-width">
        <span class="flex-spacer"></span>
        <button class="ml-5" color="primary" md-button type="button" [disabled]="!model" (click)="add()" *ngIf="radio.option === '1'">Seleccionar</button>
        <button md-dialog-close md-button type="button">Cerrar</button>
    </div>
</md-dialog-actions>