<div class="table-resposive" *ngIf="_lrvtable">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let c of _lrvtable.column" (click)="loadOrder(c)">
          <span class="th-title">{{c.name}}</span>
          <span><i class="fa" [ngClass]="{'fa-caret-up': c.ord == 1, 'fa-caret-down': c.ord == 2}"></i></span>
        </th>
        <th *ngIf="_lrvtable.show_btn"></th>
      </tr>
      <tr class="th-no-padding">
        <th *ngFor="let c of _lrvtable.column; let index = index">
          <!--  -->
          <input [(ngModel)]='__str[index]' class="full-width" name="search-{{index}}" id="search-{{index}}" type="text" *ngIf='((c.data == undefined) && (c.TYPE != 2)) && c.filter'
            (keyup.enter)='search($event.target.value,c.db_name,"1", index)'>
          <!--  -->
          <select [(ngModel)]='__str[index]' class="full-width" name="search-{{index}}" id="search-{{index}}" *ngIf='(c.data != undefined) && c.filter'
            (change)='search($event.target.value,c.db_name,"2", index)'>
            <option value="-1"></option>
            <option *ngFor="let d of c.data" [value]="d.key">
              {{d.value}}
            </option>
          </select>
        </th>
        <th *ngIf="_lrvtable.show_btn"></th>
      </tr>
    </thead>
    <tbody *ngIf="pagination">
      <tr *ngFor="let r of pagination.data">
        <td *ngFor="let c of _lrvtable.column" (click)="_row(c)">
          <span *ngIf="c.data != undefined">
            {{getValueByKey(r[c.db_name],c.data)}}
          </span>
          <span *ngIf="c.data == undefined">
            <span *ngIf="(c.TYPE == 0) || (c.TYPE == 1) || (c.TYPE == 3)">{{r[c.db_name]}}</span>
          <span *ngIf="(c.TYPE == 2)">{{r[c.db_name] | date:'dd-MM-yyyy'}}</span>
          <span *ngIf="(c.TYPE == 4)">{{r[c.db_name] | currency:'USD':true:'4.2-2'}}</span>
          </span>
        </td>
        <td *ngIf="_lrvtable.show_btn">
          <button style="float: right" type="button" mat-button (click)="_selectRow(r)">
            ver registro
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-panel" *ngIf="pagination">
  <div><small>pag:{{pagination.current_page}} de {{pagination.last_page}} total de registros:{{pagination.total}}</small></div>
  <div class="btn-group" role="group">
    <button class="btn btn-secondary btn-sm" [hidden]="pagination.current_page==1" (click)="_page=1;loadData();"><<</button>
    <button class="btn btn-secondary btn-sm" [hidden]="pagination.prev_page_url==null" (click)="getPageNumber(pagination.prev_page_url);loadData()"><</button>
    <button *ngFor="let p of pages" class="btn btn-sm" (click)="_page=p;loadData();" [class.btn-secondary]="pagination.current_page !=p "
      [class.btn-primary]="pagination.current_page == p">{{p}}</button>
    <button class="btn btn-secondary btn-sm" [hidden]="pagination.next_page_url==null" (click)="getPageNumber(pagination.next_page_url);loadData();">></button>
    <button class="btn btn-secondary btn-sm" [hidden]="pagination.current_page==pagination.last_page" (click)="_page=pagination.last_page;loadData()">>></button>
  </div>
</div>