<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Contratos de dispensación</h1>
        </div>
        <p class="hero-tagline"></p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <delivery-contracts-action-cmp *ngIf="isOpenActions" [numId]="id"></delivery-contracts-action-cmp>
                    <delivery-contracts-list-cmp *ngIf="isOpenList"></delivery-contracts-list-cmp>
                </div>
            </div>
        </div>
    </article>
</section>