<!-- FORM -->
<form class="col-sm-12" #modelForm="ngForm" autocomplete="off">
    <div class="row">
        <div class="col-sm-12 margin-bottom" [class.btn-action-container]="booActive" *ngIf="!noaction">
            <button type="button" md-raised-button color="secundary" (click)="goList()" class="btn-w-md no-margin-left">Regresar</button>
        </div>

        <!-- name -->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-input-container class="full-width">
                    <input required type="text" id="name" name="name" [(ngModel)]="model.name" mdInput placeholder="Nombre de la bodega">
                </md-input-container>
            </div>
        </div>

        <!--warehouse_type_id-->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-select class="full-width" placeholder="Tipo de bodega" [(ngModel)]="model.warehouse_type_id" name="warehouse_type_id"
                    id="warehouse_type_id">
                    <md-option *ngFor="let i of warehouses" [value]="i.id">{{i.value}}</md-option>
                </md-select>
            </div>
        </div>

        <!-- estado -->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-slide-toggle [labelPosition]="after" id="state" name="state" [(ngModel)]="model.state">Estado</md-slide-toggle>
            </div>
        </div>

        <!-- description -->
        <div class="col-sm-12 col-md-12">
            <div class="box-body">
                <md-input-container class="full-width">
                    <textarea id="description" name="description" [(ngModel)]="model.description" mdInput placeholder="Descripción"></textarea>
                </md-input-container>
            </div>
        </div>

        <!--country -->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-select class="full-width" placeholder="Pais" [(ngModel)]="model.country_id" name="country_id" (change)="getDepartments()"
                    id="country_id">
                    <md-option *ngFor="let item of countries" [value]="item.id">{{item.value}}</md-option>
                </md-select>
            </div>
        </div>

        <!-- department -->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-select class="full-width" placeholder="Departamento" [(ngModel)]="model.department_id" name="department_id" (change)="getCities()"
                    id="department_id">
                    <md-option *ngFor="let item of departments" [value]="item.id">{{item.value}}</md-option>
                </md-select>
            </div>
        </div>

        <!--city -->
        <div class='col-sm-12 col-md-4'>
            <div class="box-body">
                <md-select class="full-width" placeholder="Ciudad" [(ngModel)]="model.city_id" name="city_id" id="city_id">
                    <md-option *ngFor="let item of cities" [value]="item.id">{{item.value}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="col-sm-12" [class.btn-action-container]="booActive">
            <button type="button" [disabled]="action_active ? false : !modelForm.form.valid" md-raised-button color="primary" class="btn-w-md no-margin-left btn-right"
                (click)="save()">{{str_action}}</button>
        </div>
    </div>
</form>