<section class="chapter">
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Movimiento de Inventario - Salidas</h1>
        </div>
        <p class="hero-tagline">We provide amazing solutions that you can't miss</p>
    </section>
    <article class="article padding-lg-v article-dark article-bordered">
        <div class="container-fluid with-maxwidth">
            <div class="box box-default">
                <div class="box-body">
                    <inventory-movements-out-action-cmp *ngIf="isOpenActions" [numId]="id" [strAction]="strAction"></inventory-movements-out-action-cmp>
                    <inventory-movements-out-list-cmp *ngIf="isOpenList"></inventory-movements-out-list-cmp>
                </div>                 
            </div>
        </div>
    </article>
</section>                        